<p>contact-form works!</p>
<div>
  <h2>Añadir Nuevo Contacto</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newContact.name" required>
    </div>
    <div class="form-group">
      <label for="phone">Teléfono:</label>
      <input type="text" id="phone" name="phone" [(ngModel)]="newContact.phone" required>
    </div>
    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" name="email" [(ngModel)]="newContact.email">
    </div>
    <button type="submit" class="btn-submit">Guardar Contacto</button>
  </form>
</div>
